.mat-drawer-container {
    height: 100dvh;
    .sidenav {
        width: 300px;
        .logo-container {
            width: 100%;
            min-height: 56px;
            border-bottom: 1px solid #CCCCCC;
            display: flex;
            justify-content: center;
            img {
                display: block;
                height: 56px;
                cursor: pointer;
            }
        }
        .sidenav-menu {
            display: flex;
            flex-direction: column;
            a {
                display: flex;
                align-items: center;
                gap: 16px;
                padding: 0 16px;
                height: 48px;
                &:hover {
                    background: #F2F2F2;
                }
                &:active {
                    background: #EAEAEA;
                }
            }
        }
    }
}

mat-toolbar,
mat-toolbar-row {
    height: 56px;
    min-height: 56px;
}

.main-content {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    .header-toolbar {
        display: flex;
        gap: 11px;
    }
    .router-container {
        flex: 1;
        width: 100%;
        padding: 16px 56px;
    }
}
